datadir="/var/lib/proxysql"
errorlog="/var/lib/proxysql/proxysql.log"

admin_variables =
{
  admin_credentials = "admin:admin"
  mysql_ifaces = "0.0.0.0:6032"
}

mysql_variables =
{
  threads = 4
  max_connections = 2048
  interfaces = "0.0.0.0:6033"
  monitor_username = "monitor"
  monitor_password = "monitorpass"
  monitor_connect_timeout = 600
  monitor_read_only_timeout = 500
  monitor_read_only_interval = 2000
  monitor_ping_interval = 10000
}

mysql_servers =
(
  {
    address = "mysql-master"
    port = 3306
    hostgroup = 10
    max_connections = 200
  },
  {
    address = "mysql-slave"
    port = 3306
    hostgroup = 20
    max_connections = 200
  }
)

mysql_users =
(
  {
    username = "user"
    password = "password"
    default_hostgroup = 10
    transaction_persistent = 0
    active = 1
    fast_forward = 0
  }
)

mysql_query_rules =
(
  {
    rule_id = 1
    active = 1
    match_pattern = "SELECT .* FOR UPDATE"
    destination_hostgroup = 10
    apply = 1
    re_modifiers = "CASELESS"
  },
  {
    rule_id = 2
    active = 1
    match_pattern = "SELECT .* FROM .*"
    destination_hostgroup = 20
    apply = 1
    re_modifiers = "CASELESS"
  }
)

mysql_replication_hostgroups =
(
  {
    writer_hostgroup = 10
    reader_hostgroup = 20
  }
)
